# Build-time promosyon kodu JSON adresi (release). Deger bos birakilabilir;
# bos ise Release build'lerinde promosyon kodu akisi "yapilandirma bulunamadi"
# hatasiyla kapanir. DEBUG build'lerinde calisma zamaninda da okunur.
NOCTRA_PROMO_CODES_URL=
